*{
    align-content: center;
    padding: 0; margin: 0;
}
h2{
	color:rgb(110, 173, 207);
	text-align: center;
	font-family: arial;
	text-transform: uppercase;
	border: 3px solid #696969;
	padding: 5px;
	width: 500px;
    margin: auto;
	margin-bottom: 10px;
    margin-top: 20px;
}
form {
    border: 3px solid #696969;
    font-family: arial;
    width: 500px;
    margin: auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
label{
	color:white;
	text-transform: uppercase;
}
.btnlogin{
    background-color: #049372;
    color: #696969;
    padding: 1px 210px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.imgcontainer {
    text-align: center;
    margin: 20px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}

.container {
    padding: 16px;
    color: #696969;
}

span.password {
    float: right;
    padding-top: 16px;

}
span{
	color:white;
}
/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.password {
       display: block;
       float: none;
    }
}